# Ignore datasets
/nih_data/
/pneumonia_data/

# Ignore Python virtual environments
/venv/
/.venv/

# Ignore model outputs and logs
/models/old_models/
/**/wandb/
/**/__pycache__/
/**/*.pth
/scripts/output.txt/
/scripts/error.txt/

scripts/error.txt
